body {
    font-family: monospace;
    /* font-size: 120%; */
}

div.button {
    padding: 2% 2%;
}

p.title {
    font-size: 300%;
    text-align: center;
    color: #000;
}

p.button {
    font-size: 300%;
    text-align: center;
    color: #fff;
}

p.center_text {
    font-size: 120%;
    text-align: center;
}

#bartholomy {
    background-color: #fff;
}

#book {
    background-color: #c21818;
}

#music {
    background-color: #18c2a1;
}

#about {
    background-color: #c218ac;
}

#donate {
    background-color: #ebae34;
}

#contact {
    background-color: #000;
}

#logo {
    background-color: #fff;
}

img#logo {
    width: 10%;
}

#text {
    background-color: #FFF;
}

a:link {
    color: inherit;
    text-decoration: none;
    font-weight: 100;
}

a:visited {
    color: inherit;
}
