body {
    font-family: "Courier", courier, monospace;
    font-size: 13pt;
    letter-spacing: -0.03rem;
}

div.bar {
    margin: 0rem 0rem;
    padding: 1rem 0.1rem;
}

div.text {
    background-color: #fff;
    padding: 1rem 0.5rem;
}

div.clouds {
    background-color: #fff;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-style: normal;
    color: #000;
}

h1.studentship {
    color: #fff;
}

/* redundant with summary tag. but used where no dropdown is desired. */
p.fake_summary_tag {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}

summary {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    list-style: none;
    padding: 1em 0em 1em 0em;
}

summary:hover {
    color: #444;
    cursor: pointer;
}

details {
    color: #000;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::marker {
    display: none;
}

details summary {
    list-style: none;
}

ul {
    margin-left: 0rem;
    padding-left: 1rem;
}

p.center_text {
    text-align: center;
}

p.work_title {
    font-size: 1.2rem;
    text-align: center;
}

/* no anchor tag, but we want the underline without the color. */
p.work_title#unreleased {
    text-decoration: underline;
}

div.action_button {
    margin: 0% 30%;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

div.action_button p {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

/* color bars */

#bartholomy {
    background-color: #fff;
}

#writing {
    background-color: #c21818;
}

#music {
    background-color: #20c0d0;
}

#studentship {
    background-color: #503020;
}

#about {
    background-color: rgb(100,170,30);
}

#donate {
    background-color: #ebae34;
}

#contact {
    background-color: #000;
}

#logo {
    background-color: #fff;
}

#black {
    background-color: #000;
}

/* end color bars */

img#logo {
    width: 10%;
}

img#album {
    width: 50%;
}

img#book {
    width: 30%;
}

img#clouds {
    width: 100%;
}

a {
    color: blue;
    text-decoration: underline;
    font-weight: normal;
}

a.unhighlight {
    color: inherit;
    text-decoration: none;
}

/* tablets and up */
@media only screen and (min-device-width: 700px){
    h1.studentship {
        font-size: 3rem;
    }
    div.bar {
        padding: 1rem 1rem;
    }
    div.text {
        padding: 1rem 1rem;
    }
    img#album {
        width: 30%;
    }
    img#book {
        width: 20%;
    }
}
